 * {

   margin: 0;
   padding: 0;
 }

 body {

   background-color: rgb(145, 155, 233);
   font-family: "JetBrains Mono", monospace;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 #current-time {

   font-size: 80px;
   background-color: #FCFCFD;
   border-radius: 25px;
 }

 #current-time,
 .create-alarm,
 h1,
 #active-alarm {

   text-align: center;

 }

 .create-alarm,
 .alarm-inputs,
 #active-alarm {

   margin-top: 20px;
 }

 input {

   width: 100px;
   height: 30px;
 }

 button {

   align-items: center;
   appearance: none;
   background-color: #FCFCFD;
   border-radius: 4px;
   border-width: 0;
   box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
   box-sizing: border-box;
   color: #36395A;
   cursor: pointer;
   display: inline-flex;
   font-family: "JetBrains Mono", monospace;
   height: 48px;
   justify-content: center;
   line-height: 1;
   list-style: none;
   overflow: hidden;
   padding-left: 16px;
   padding-right: 16px;
   position: relative;
   text-align: left;
   text-decoration: none;
   transition: box-shadow .15s, transform .15s;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   white-space: nowrap;
   will-change: box-shadow, transform;
   font-size: 18px;

 }

 button:focus {

   box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;

 }

 button:hover {

   box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
   transform: translateY(-2px);
 }

 button:active {

   box-shadow: #D6D6E7 0 3px 7px inset;
   transform: translateY(2px);
 }

 .alarm-inputs,
 #alarm-text {

   margin-bottom: 30px;

 }

 #active-alarm {

   display: none;

 }

 input[type='number'] {

   width: 80px;
   font-family: "JetBrains Mono", monospace;
   cursor: pointer;
   text-align: center;
   outline-color: rgb(16, 16, 245);
   border-radius: 9px;
   font-size: medium;

 }

 input[type='number']:hover {

   background: whitesmoke;
   box-shadow: 0 0 10px rgb(113, 129, 247), 0 0 40px rgb(107, 123, 240), 0 0 80px rgb(82, 97, 235);
   transition: 0.4s ease-in-out;
   border-radius: 25px;

 }

 .zone {

   width: 80px;
   font-family: "JetBrains Mono", monospace;
   cursor: pointer;
   text-align: center;
   outline-color: rgb(16, 16, 245);
   border-radius: 9px;
   font-size: large;

 }

 .zone:hover {

   box-shadow: 0 0 10px rgb(113, 129, 247), 0 0 40px rgb(107, 123, 240), 0 0 80px rgb(82, 97, 235);
   transition: 0.4s ease-in-out;
   border-radius: 25px;

 }